{% extends 'partials/base.html' %}
{% block title %}Password Reset Done Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white">
                <h3>Password Reset Done Page</h3>
                <hr>
                <div class="alert alert-info">
                    <h4>A mail has been sent to your email address</h4>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}